[submodule "scb"]
	path = scb
	url = git://github.com/scribu/wp-scb-framework.git
[submodule "aloha-editor"]
	path = aloha-editor
	url = git://github.com/scribu/Aloha-Editor.git
[submodule "aloha-plugins/com.gentics.aloha.plugins.Link"]
	path = aloha-plugins/com.gentics.aloha.plugins.Link
	url = git://github.com/scribu/Aloha-Plugin-Link.git
