/* Main */
.fee-field, .fee-form {
	margin: 0 !important;
	padding: 0 !important;
	border-width: 0 !important;
}
div.fee-form, textarea.fee-form-content {
	clear: both !important;
	width: 100% !important;
}

.fee-loading {
	position: absolute;
	z-index: 9999;
	background-color: #fff;
	background-position: center center;
	background-repeat: no-repeat;
	text-align: center;
	vertical-align: middle;
	opacity: 0.75;
}

/* Buttons */
div.fee-form button {margin-top: 5px}
span.fee-form input {margin-right: 5px}
.fee-form button + button {margin-left: 5px}

.fee-form button {
	text-decoration: none !important;
	line-height: 14px !important;
	font-size: 11px !important;
	vertical-align: middle !important;
	padding: 2px 8px !important;
	cursor: pointer !important;
	-moz-border-radius: 11px;
	-khtml-border-radius: 11px;
	-webkit-border-radius: 11px;
	border-radius: 11px;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	-khtml-box-sizing: content-box;
	box-sizing: content-box;
}

button.fee-form-save {
	background-color: #23779f;
	color: #fff;
	border: 1px solid #1c5e7f;
	font-weight: bold;
}

.fee-form-save:hover {
	border: 1px solid #000 !important;
}

button.fee-form-cancel {
	background-color: #fcfcfc;
	color: #808080;
	border: 1px solid #ddd;
}

.fee-form-cancel:hover {
	border: 1px solid #666 !important;
}

/* Rich Editor */
.nicEdit-selected:focus {
	outline: none;
}

/* Suggest */
.fee-suggest-results {
	padding: 0;
	margin: 0;
	list-style: none;
	position: absolute;
	display: none;
	z-index: 10000;
	border-width: 1px;
	border-style: solid;
}
.fee-suggest-results li {padding: 2px 5px; white-space: nowrap;	text-align: left}
.fee-suggest-match {text-decoration: underline}
.fee-suggest-over {cursor: pointer}

/* Suggest colors */
.fee-suggest-results {background-color: #fff; border-color: #808080}
.fee-suggest-results li {color: #101010}
.fee-suggest-match {color: #000}
.fee-suggest-over {background-color: #f0f0b8}

/* Widget */
.fee-form.fee-type-widget input.widefat, .fee-form.fee-type-widget textarea.widefat {display: block; width: 100%}

/* Image */
#TB_window #TB_title {
	background-color: #222;
	color: #CFCFCF;
	height: 27px;
}

#fee-img-revert {
	display: block;
	float: left;
	padding: 6px 10px 0;
}
#fee-img-revert:link, #fee-img-revert:active, #fee-img-revert:visited {
	color: #21759B !important;
}
#fee-img-revert:hover {
	color: #D54E21 !important;
}

