.front-editor-container {display: block !important}
textarea.front-editor-content {width: 100%}
button.front-editor-cancel {font-weight: bold; color:red}

.wysiwyg .panel li:before {content:'' !important}
.wysiwyg .panel li a {width:14px !important; height: 14px !important}
