.front-editor-container, .front-ed {margin:0 !important; padding: 0 !important}
.front-ed, .front-editor-container {border-width: 0 !important}
.front-editor-container, textarea.front-editor-content {width:100% !important}
.front-editor-cancel {font-weight:bold !important; color:red !important}
.front-editor-spinner {border:0 !important; width:16px !important; height:16px !important}
