/* Main */
.front-editor-container, .front-ed {
	margin: 0 !important; 
	padding: 0 !important;
}
.front-ed, .front-editor-container {
	border-width: 0 !important;
}
.front-editor-container, textarea.front-editor-content {
	width: 100% !important;
}
.front-editor-cancel {
	font-weight: bold !important; 
	color: red !important;
}
.front-editor-spinner {
	border: 0 !important; 
	width: 16px !important; 
	height: 16px !important;
}

/* Suggest */
.fee_suggest_results {
	padding: 0;
	margin: 0;
	list-style: none;
	position: absolute;
	display: none;
	z-index: 10000;
	border-width: 1px;
	border-style: solid;
}
.fee_suggest_results li {padding: 2px 5px; white-space: nowrap;	text-align: left}
.fee_suggest_match {text-decoration: underline}
.fee_suggest_over {cursor: pointer}

/* Suggest colors */
.fee_suggest_results {background-color: #fff; border-color: #808080}
.fee_suggest_results li {color: #101010}
.fee_suggest_match {color: #000}
.fee_suggest_over {background-color: #f0f0b8}

/* Rich Editor */
.nicEdit-selected:focus {
  outline: none;
}

/* Image */
#TB_window #TB_title {
	background-color: #222;
	color: #CFCFCF;
	height: 27px;
}

#fee_img_revert {
	display: block;
	float: left;
	padding: 6px 10px 0;
}
#fee_img_revert:link, #fee_img_revert:active, #fee_img_revert:visited {
	color: #21759B !important;
}
#fee_img_revert:hover {
	color: #D54E21 !important;
}

